{% if page.pagination.total_pages > 1 %}
<ul class="pagination inline-list">
    {% if page.pagination.previous_page %}
    <li>
        <a class="prev" href="{{ site.url }}/{%if paginator.previous_page > 1 %}page{{ paginator.previous_page }}/{% endif %}">
            &laquo; Newer
        </a>
    </li>
    {% endif %}

    {% for page in (1..page.pagination.total_pages) %}
    {% if page == page.pagination.page %}
    <li><span class="active">{{ page }}</span></li>
    {% else %}
    <li><a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page.pagination.total_pages %}
    <li><a href="{{ site.url }}/page{{ paginator.next_page }}/">Older &raquo;</a></li>
    {% endif %}
</ul>
{% endif %}