<span>&copy; {{ 'now' | date('Y') }} {{ site.author.name }}. <a>
            Design by <a target="_blank" href="https://mademistakes.com/">Michael Rose</a>,
          </li> Powered by <a target="_blank"href="http://spress.yosymfony.com">Spress</a> using the <a target="_blank" href="https://github.com/enzolutions/spress-tinto-theme/">Tinto</a> theme.</span>
<br/>
<span>&copy; Juan Valdez is a registered trademark of <a target="_blank" href="http://federaciondecafeteros.org/">Federacion nacional de cafeteros de Colombia</a>.
